<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card"> <%= image_tag "#{cocktail.name}.jpg" %> <%= cocktail.name %>
      </div>
    </div>
  </div>
</div>
