<h1>Cocktails</h1>



<% @cocktails.each do |c| %>
  <%= link_to  cocktail_path(c) do %>
    <%= render "card", cocktail: c %>
  <% end %>
<% end %>




<br>

<%= link_to 'New Cocktail', new_cocktail_path %>
